body
	background: #ffffff

.container
	max-width: 700px
	margin: 0 auto

.slick-slide
	cursor: pointer

.gallery
	padding: 20px 0
	font-size: 0px

	&__slider
		position: relative
		display: block
		margin: 0 auto

	&__link
		position: relative
		height: 0
		overflow: hidden
		display: block
		width: 100%
		padding-bottom: 67%
		font-size: 14px
		background-position: center center
		background-size: cover
		cursor: zoom-in

	&__img-nav
		position: relative
		height: 0
		overflow: hidden
		display: block
		width: 100%
		padding-bottom: 72%
		background-position: center center
		background-size: cover


.slider-nav
	margin-top: 1px

.mfp-title
	padding: 6px 0
	font-size: 14px
	line-height: 18px
	color: #f3f3f3
	word-wrap: break-word
	text-align: center

.slick-next,
.slick-prev
	width: 20px
	height: 22px
	background: #aaaaae
	border-radius: 2px
	color: #333

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover
	color: #fff
	outline: 0
	background: #000
	opacity: 1

.slick-initialized .slick-slide,
.slick-slide img
	display: block
	width: 100%
	padding: 1px
